@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);


/*OLD CODE*/

/*.form-control::-webkit-input-placeholder { 
	font-family: "garamond", arial, sans-serif;
	font-size: 15px;
	margin:auto 0;
	 
}

#basic-addon2 {
	font-family: "garamond", arial, sans-serif;
	font-size: 16px;

}

#header-nav1 {
	padding-top: 20px;
}

#header-nav1 a {
	text-decoration: none;
	color: #777;
	font-family: "open sans", arial, sans-serif;
	font-size: .8em;
}

#header-nav1 a:hover {
	text-decoration: underline;
	color:#9FA2A7;
}

#freeshippping p {
	font-family: "garamond", arial, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	margin-top: -10px;
	margin-left: -5px;
}

#logo {
	margin: 0 0 30px 0;
}

#logo img {
	margin-top: -60px;
}

#navbar { 

margin-left: 0px;
margin-right: 0px;
}

#top-nav {
	background-color: #EBECED;
	padding: 11px 0 11px 0;

}

#top-nav a:hover { 
    text-decoration: none;
    border-bottom: 3px solid #CDCDCD;
}

#top-nav a {
	color: #555555;
	text-decoration: none;
	font-size: 1.1em;
	margin: auto 0;	
}*/
/*OLD CODE ENDS*/

/*NEW CODE*/


.form-control::-webkit-input-placeholder { 
	font-family: "garamond", arial, sans-serif;
	font-size: 15px;
	margin:auto 0;
	 
}

.input-group-btn {
	font-family: "garamond", arial, sans-serif;
	font-size: 18px;

}

#header-nav1 {
	padding-top: 20px;
}

#header-nav1 a {
	text-decoration: none;
	color: #777;
	font-family: "open sans", arial, sans-serif;
	font-size: .8em;
}

#header-nav1 a:hover {
	text-decoration: underline;
	color:#9FA2A7;
}

#freeshippping p {
	font-family: "garamond", arial, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	margin-top: -10px;
	margin-left: -5px;
}

#logo {
	margin: 0 0 30px 0;
}

#logo img {
	margin-top: -60px;
}


.navbar-default {
	margin-bottom: 0px;
	width: 105%;
	margin-left: -5px;

}

/*#top-nav {
	background-color: #EBECED;
	/*padding: 11px 0 11px 0;

}
*/

.navbar-default a {
	color: #555555;
	text-decoration: none;
	font-size: 1.1em;
	margin: 0 25px 0 25px;
	
}
/*NEW CODE ENDS*/

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0px;
}

.jumbotron {
	background-image: url('../hero.jpg');
	background-size:cover;
	background-position: center; 
    height:	500px;
    margin-bottom: 10px;
    text-align: center;

}
.jumbotron h2 {
	color: #9FA2A5;
	font-family: "garamond", arial, serif;
	font-size: 2.3em;
	text-decoration: bold;


}

.jumbotron p {
	color: #9FA2AA;
	font-family: "open sans", arial, sans-serif;
	font-size: 1em;
	text-decoration: bold;
}

.jumbotron a {
	color: #77777B;
	font-family: "open sans", arial, sans-serif;
	font-size: 1em;
	text-decoration: underline;
}

#lmquote {
	font-family: "garamond", arial, serif;
	font-style: italic;
	font-size: 2em;

}

.thumbnail h2 {
	font-family: "garamond", arial, serif;
	text-align: center;
	font-size: 1.5em;
	color: #9FA2A5;

}

#bottom-nav a {
	text-decoration: none;
}

#bottom-footer a:hover {
	color:#5A5A5A;
}

#bottom-footer a {
	margin-top: 8px;
	margin-right: 5px;
}	

#footer {
	background-color: #9B9A98;
	padding: 10px 0 10px 0;
	margin-bottom: 40px;
}

#footer a {
	color: white;
	text-decoration: none;
}

#footer-nav {
	margin: 11px 0 11px 0;

}

#footer-nav a {
	text-decoration: none;
	color: #777;
	font-family: "open sans", arial, sans-serif;
	font-size: .8em;
}

#footer-nav a:hover {
	text-decoration: underline;
	color:#9FA2A7;
}

#copyright {
	color:#9FA2A5;
	font-family: "open sans", arial, sans-serif;
	font-size: .8em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .bras {
	margin-left: -45px;

}

.herocopy p {
	font-size: 17px;
}

.herocopy span {
	font-size: 17px;
	color: #77777B;
}

.herocopy a {
	font-size: 16px;
	text-decoration: none;
	/*padding: 100px 300px 100px 100px;*/
}

.herocopy a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 760px) and (max-width: 991px) {

    .topinputbar {
	display: none;

	}

	.navbar-default a {
	margin: 0 8px 0 8px;
	

    }

    hr {
    	display: none;
    }

    #freeshippping {
    	margin-left:73%;
    	margin-top: 20px;
    }

    

     .myaccountnav {
   		margin-left: 70%;
    	
	}

	    .dropdowncontainer {
    	width: 100%;
    	margin: 0 auto;
    }

    .filter-button {
    	width: 40%;
    	margin-left: 25%;
    }

    .dropdown-toggle {
    	width: 9%
    }

    #clear-filter {
    	padding-bottom: 10px;
    }
}

@media screen and (max-width: 760px) {

   	 .topinputbar {
		display: none;

    }

    hr {
    	display: none;
    }

    .myaccountnav {
    	margin-left: 70%;
    }

    .dropdowncontainer {
    	width: 100%;
    	margin: 0 auto;
    }

    .filter-button {
    	width: 79%;
    }

    .dropdown-toggle {
    	width: 19%
    }

	.herocopy {
		margin-top: 270px;
		background: rgba(255, 255, 255,0.7);


	}

    #freeshippping {
    display:none;

    }

    .logo {

    padding-top: 80px;

    }

    .navbar-default .bras {
	margin-left: 25px;


}